<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <title>个人信息</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/font-awesome.css" rel="stylesheet">
    <link href="../css/basic.css" rel="stylesheet">
    <link href="../css/custom.css" rel="stylesheet">
    <link href="../css/my.css" rel="stylesheet">
    <link href="../css/element/index.css" rel="stylesheet">
    <style>
        /*防止页面的变量显示中断，这段可以防止页面抖动*/
        [v-cloak]{
            display: none;
        }
    </style>
</head>
<body>
<div id="wrapper">
<!--头顶导航菜单-->
    <nav class="navbar navbar-default navbar-cls-top" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">后台管理系统</a>
        </div>
        <div class="header-right">
            <a href="javascript:void(0)" class="btn btn-info" @click="logout" title="退出登录">
                <i class="fa fa-sign-out fa-2x"></i>
            </a>
        </div>
        <div class="header-right">
            <a href="accountUserInfo.html" class="btn btn-info" title="个人信息">
                <i class="fa fa-user fa-2x"></i>
            </a>
        </div>
        <div class="header-right" style="padding-top: 25px">
            欢迎您，{{user.type}}
        </div>
    </nav>

<!--左侧导航菜单-->
    <nav class="navbar-default navbar-side">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li>
                    <a href="index.html"><i class="fa fa-dashboard"></i>系统首页</a>
                    <a href="video.html"><i class="fa fa-video-camera"></i>监控视频</a>
                    <a href="phycheck.html"><i class="fa fa fa-building-o"></i>体检记录</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-yelp"></i>信息展示<span class="fa arrow"></span> </a>
                    <ul class="nav nav-second-level collapse in">
                        <li><a href="oldinfo.html"><i class="fa fa-table"></i>老人信息</a></li>
                        <li><a href="mediinfo.html"><i class="fa fa-table"></i>服药信息</a></li>
                        <li><a href="familyinfo.html"><i class="fa fa-table"></i>家属信息</a></li>
                        <li><a href="illness.html"><i class="fa fa-table"></i>慢性病信息</a></li>
                        <li><a href="notice.html"><i class="fa fa-table"></i>公告信息</a></li>
                        <li><a href="news.html"><i class="fa fa-table"></i>新闻信息</a></li>
                        <li><a href="feedback.html"><i class="fa fa-table"></i>反馈信息</a></li>
                        <li><a href="user.html"><i class="fa fa-table"></i>用户信息</a></li>
                    </ul>
                </li>
                <li><a class="active-menu" href="accountUserInfo.html"><i class="fa fa-user"></i>个人信息</a></li>
                <li><a href="updatePassword.html"><i class="fa fa-unlock-alt"></i>修改密码</a></li>
                <li><a href="javascript:void(0)" @click="logout"><i class="fa fa-power-off"></i>退出登录</a></li>
            </ul>
        </div>
    </nav>

<!--页面中间内容-->
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            个人信息
                        </div>
                        <div class="panel-body">
                            <form class="form-horizontal">
                                <input type="hidden" id="id" name="id" v-model="entity.id">
                                <div class="form-group">
                                    <div class="col-sm-3 control-label">姓名</div>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" v-model="entity.name" placeholder="请输入姓名">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-3 control-label">电话</div>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" v-model="entity.phone" placeholder="请输入电话号码">
                                    </div>
                                </div>
                                <!--                        <div class="form-group">-->
                                <!--                            <div class="col-sm-3 control-label">性别</div>-->
                                <!--                            <div class="col-sm-7">-->
                                <!--                                <label class="radio-inline">-->
                                <!--                                    <input type="radio" value="男" v-model="entity.sex">男-->
                                <!--                                </label>-->
                                <!--                                <label class="radio-inline">-->
                                <!--                                    <input type="radio" value="女" v-model="entity.sex">女-->
                                <!--                                </label>-->
                                <!--                            </div>-->
                                <!--                        </div>-->
                                <div class="form-group">
                                    <div class="col-sm-3 control-label">用户类型</div>
                                    <div class="col-sm-7">
                                        <label class="radio-inline">
                                            <input type="radio" value="管理员" v-model="entity.type">管理员
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" value="网格员" v-model="entity.type">网格员
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" value="家属" v-model="entity.type">家属
                                        </label>
                                    </div>
                                </div>
                            </form>
                            <div style="text-align: center">
                                <button type="button" class="btn btn-primary" v-on:click="save()">保存</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../js/jquery-1.10.2.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/jquery.metisMenu.js"></script>
<script src="../js/custom.js"></script>
<script src="../js/my.js"></script>
<script src="../js/vue2.6.11/vue.min.js"></script>
<script src="../js/vue2.6.11/axios.js"></script>
<script src="../js/echarts.min.js"></script>
<script src="../js/element/index.js"></script>
<script>
    function msg(type,msg){
        Vue.prototype.$message({
            type: type,  //success(成功) ，warning (警告)，error(错误)
            message: msg,
            duration: 2000,
            offset: 100,
            center: true
        })
    }
    new Vue({
        el:"#wrapper",
        data:{
            entity: {     //新增表单提交
                type: '管理员'
            }
        },

        created: function(){
            //从登录页面login.html获取登录的用户类型
            this.user = JSON.parse(localStorage.getItem('user'));
            if(this.user == null){
                this.user = {}; //设置一个空对象，以防止后续访问其属性时报错
            }
            this.loadData();
        },

        methods:{
            loadData(){
                //转到usercontroller的detail方法
                axios.get("/user/"+this.user.id).then(res => {
                    if(res.data.code ==='0'){
                        this.entity = res.data.data;  //表单中获取原始信息
                    }else {
                        msg('error',res.data.msg);
                    }
                });
            },

            //将当前表单（修改表单）保存到数据库
            save(){
                //需要先经过checkValid判断 ctrl点击查看
                if(!checkValid(this.entity)){
                    return false;
                }
                //修改
                axios.put("/user",this.entity).then(res => {
                    if(res.data.code === "0"){
                        msg('success','修改成功');
                        this.loadData();   //刷新页面
                    }else {
                        msg('error',res.data.msg);  //失败返回错误信息
                    }
                });
            }
        }
    })
</script>
</body>
</html>