<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <title>慢性病信息</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/font-awesome.css" rel="stylesheet">
    <link href="../css/basic.css" rel="stylesheet">
    <link href="../css/custom.css" rel="stylesheet">
    <link href="../css/my.css" rel="stylesheet">
    <link href="../css/element/index.css" rel="stylesheet">
    <style>
        /*防止页面的变量显示中断，这段可以防止页面抖动*/
        [v-cloak]{
            display: none;
        }
    </style>
</head>
<body>
<div id="wrapper">
<!--头顶导航菜单-->
    <nav class="navbar navbar-default navbar-cls-top" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">后台管理系统</a>
        </div>
        <div class="header-right">
            <a href="javascript:void(0)" class="btn btn-info" @click="logout" title="退出登录">
                <i class="fa fa-sign-out fa-2x"></i>
            </a>
        </div>
        <div class="header-right">
            <a href="accountUserInfo.html" class="btn btn-info" title="个人信息">
                <i class="fa fa-user fa-2x"></i>
            </a>
        </div>
        <div class="header-right" style="padding-top: 25px">
            欢迎您，{{user.type}}
        </div>
    </nav>

<!--左侧导航菜单-->
    <nav class="navbar-default navbar-side">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li>
                    <a href="index.html"><i class="fa fa-dashboard"></i>系统首页</a>
                    <a href="video.html"><i class="fa fa-video-camera"></i>监控视频</a>
                    <a href="phycheck.html"><i class="fa fa fa-building-o"></i>体检记录</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-yelp"></i>信息展示<span class="fa arrow"></span> </a>
                    <ul class="nav nav-second-level collapse in">
                        <li><a href="oldinfo.html"><i class="fa fa-table"></i>老人信息</a></li>
                        <li><a href="mediinfo.html"><i class="fa fa-table"></i>服药信息</a></li>
                        <li><a href="familyinfo.html"><i class="fa fa-table"></i>家属信息</a></li>
                        <li><a class="active-menu" href="illness.html"><i class="fa fa-table"></i>慢性病信息</a></li>
                        <li><a href="notice.html"><i class="fa fa-table"></i>公告信息</a></li>
                        <li><a href="news.html"><i class="fa fa-table"></i>新闻信息</a></li>
                        <li><a href="feedback.html"><i class="fa fa-table"></i>反馈信息</a></li>
                        <li><a href="user.html"><i class="fa fa-table"></i>用户信息</a></li>
                    </ul>
                </li>
                <li><a href="accountUserInfo.html"><i class="fa fa-user"></i>个人信息</a></li>
                <li><a href="updatePassword.html"><i class="fa fa-unlock-alt"></i>修改密码</a></li>
                <li><a href="javascript:void(0)" @click="logout"><i class="fa fa-power-off"></i>退出登录</a></li>
            </ul>
        </div>
    </nav>

<!--页面中间内容-->
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            老人常见慢性病列表
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <div class="nx-table-header">
                                    <button class="btn btn-sm btn-primary" v-on:click="add()">新增</button>
                                    <input type="text" placeholder="请输入查询内容" v-model="name" @keyup.enter="loadTable(1)">
                                    <i class="glyphicon glyphicon-search"></i>
                                </div>
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>慢性病</th>
                                        <th>病情程度</th>
                                        <th>健康系数*</th>
                                        <th>备注</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody v-for="obj in objs">
                                    <tr>
                                        <td>{{obj.id}}</td>
                                        <td>{{obj.name}}</td>
                                        <td>{{obj.degree}}</td>
                                        <td>{{obj.number}}</td>
                                        <td>{{obj.criterion}}</td>
                                        <td>
                                            <button class="btn btn-primary btn-xs" v-on:click="init(obj)">编辑</button>
                                            <button class="btn btn-danger btn-xs" v-on:click="del(obj.id)">删除</button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

<!--                                翻页功能-->
                                <ul class="pagination">
                                    <li class="page-item" v-bind:class="{disabled:preActive}">
                                        <a class="page-link" href="javascript:void(0)" v-on:click="loadTable(pageInfo.pageNum - 1)">上一页</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" v-if="pageInfo.pageNum > 1" href="javascript:void(0)"
                                           v-on:click="loadTable(pageInfo.pageNum - 1)">{{pageInfo.pageNum - 1}}</a>
                                    </li>
                                    <li class="page-item disabled">
                                        <a class="page-link" href="javascript:void(0)">{{pageInfo.pageNum}}</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" v-if="pageInfo.hasNextPage" href="javascript:void(0)"
                                           v-on:click="loadTable(pageInfo.pageNum - 1)">{{pageInfo.pageNum + 1}}</a>
                                    </li>
                                    <li class="page-item" v-bind:class="{disabled:nextActive}">
                                        <a class="page-link" href="javascript:void(0)"
                                           v-on:click="loadTable(pageInfo.hasNextPage?(pageInfo.pageNum + 1):pageInfo.pageNum)">下一页</a>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--    模态框（Model），新增的弹出页面-->
    <div class="modal" id="mod">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="modal-title">请填写新增慢性病信息</span>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <input type="hidden" id="id" name="fno" v-model="entity.id">
                        <div class="form-group">
                            <div class="col-sm-3 control-label">慢性病</div>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" v-model="entity.name" placeholder="请输入慢性病名称">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 control-label">病情程度</div>
                            <div class="col-sm-7">
                                <label class="radio-inline">
                                    <input type="radio" value="轻度" v-model="entity.degree">轻度
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" value="中度" v-model="entity.degree">中度
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" value="重度" v-model="entity.degree">重度
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 control-label">健康系数*</div>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" v-model="entity.number" placeholder="请输入该慢性病的健康系数（0.00~1.00）">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 control-label">备注</div>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" v-model="entity.criterion" placeholder="请输入该慢性病的相关信息">
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" v-on:click="save()">保存</button>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="../js/jquery-1.10.2.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/jquery.metisMenu.js"></script>
<script src="../js/custom.js"></script>
<script src="../js/my.js"></script>
<script src="../js/vue2.6.11/vue.min.js"></script>
<script src="../js/vue2.6.11/axios.js"></script>
<script src="../js/echarts.min.js"></script>
<script src="../js/element/index.js"></script>
<script src="../js/main.js"></script>
<script>
    function msg(type,msg){
        Vue.prototype.$message({
            type: type,  //success(成功) ，warning (警告)，error(错误)
            message: msg,
            duration: 2000,
            offset: 100,
            center: true
        })
    }
    new Vue({
        el:"#wrapper",
        data:{
            user: {},
            name: '',  //查询的名字默认为空
            objs: [],
            pageInfo: {},
            preActive: true,  //没有上一页为true，有上一页为false
            nextActive: true,  //没有下一页为true，有下一页为false
            entity: {           //新增表单提交
                degree: '轻度'
            }
        },

        created: function(){
            //从登录页面login.html获取登录的用户类型
            this.user = JSON.parse(localStorage.getItem('user'));
            if(this.user == null){
                this.user = {}; //设置一个空对象，以防止后续访问其属性时报错
            }
            this.loadTable(1);  //查询第一页，在下面完善这个方法
        },

        methods:{
            //查询
            loadTable(pageNum){
                let name = this.name === '' ? 'all' : this.name;
                axios.get("/illness/page/"+name+"?pageNum="+pageNum).then(res => {
                    if(res.data.code ==='0'){
                        this.objs = res.data.data.list;
                        this.pageInfo = res.data.data;
                        this.preActive = !(this.pageInfo.hasPreviousPage);
                        this.nextActive = !(this.pageInfo.hasNextPage);
                    }else {
                        msg('error',res.data.msg);
                    }
                });
            },

            //显示新增
            add(){
                $('#mod').modal('show');   //显示表单
            },

            //将当前表单（新增或修改用户表单）保存到数据库
            save(){
                //如果没有id值，就是新增功能
                if(!this.entity.fno){   //新增
                    axios.post("/illness",this.entity).then(res => {
                        if(res.data.code === "0"){
                            msg('success','添加成功');
                            $('#mod').modal('hide');   //隐藏表单
                            this.loadTable(1);   //刷新页面
                        }else {
                            msg('error',res.data.msg);  //失败返回错误信息
                        }
                    });
                }else{  //修改
                    axios.put("/illness",this.entity).then(res => {
                        if(res.data.code === "0"){
                            msg('success','修改成功');
                            $('#mod').modal('hide');   //隐藏表单
                            this.loadTable(1);   //刷新页面
                        }else {
                            msg('error',res.data.msg);  //失败返回错误信息
                        }
                    });
                }
            },

            //编辑初始化
            init(o){
                this.entity = JSON.parse(JSON.stringify(o));
                $('#mod').modal('show');   //显示表单
            },

            //删除家属
            del(id){
                let _this = this;  //右边的this是这个页面的this
                this.$confirm('确认删除？','系统提示',{
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    cancelButtonClass: 'btn-custom-cancel',
                    type: 'warning'
                }).then(function (){
                    axios.delete("/illness/" + id).then(res => {
                        if(res.data.code === "0"){
                            msg('success','删除成功');
                            _this.loadTable(1);   //刷新页面
                        }else {
                            msg('error',res.data.msg);  //失败返回错误信息
                        }
                    });
                }).catch(function (){
                    console.log("取消成功！");
                });
            }
        }
    })
</script>
</body>
</html>